name: Go

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24

    - name: Test
      run: go test -coverprofile=cover.out
    
    - name: Install all dependencies
      run: |
        go install github.com/AlekSi/gocov-xml@latest
        go install github.com/axw/gocov/gocov@latest

    - name: Generate Coverage XML
      run: gocov convert cover.out | gocov-xml > coverage.xml

    - name: Coverage
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
        verbose: true

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ghcr.io/preimmortal/sidecar-backup
        tags: ${{ github.event.release.tag_name }}
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3

    - name: Build image and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        builder: ${{ steps.buildx.outputs.name }}
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64/v8,linux/arm/v7
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.tags }}
    
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

